.search-bar-container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--color-gris_claro); 
  border-radius: 24px;
  padding: 10px 16px;
  max-width: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.search-icon {
  color: var(--color-gris_oscuro); 
  margin-right: 12px;
  font-size: 0.9rem;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
}

.search-input::placeholder {
  color: var(--color-gris_oscuro); 
}